@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00b14f;
  --text-color: #212f3f;
  --white-color: #fff;
  --black-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Lexend", sans-serif;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  li {
    float: left;
  }
}

.btn {
  border-radius: 4px;
}

.direct-page {
  align-items: center;
  aspect-ratio: 1/1;
  border: 1px solid #00b14f;
  border-radius: 50%;
  color: #00b14f !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 32px;
}

.direct-page--disable {
  align-items: center;
  aspect-ratio: 1/1;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  color: #8a8a8a !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 32px;
}

.active {
  background-color: var(--primary-color) !important;
  color: #fff;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .container {
    width: 1170px !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-mini {
    max-width: 575.98px;
    margin: auto;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-mini {
    max-width: 575.98px;
    margin: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-mini {
    max-width: 767.98px;
    margin: auto;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-mini {
    max-width: 991.98px;
    margin: auto;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container-mini {
    max-width: 1199.98px;
    margin: auto;
  }
}
